## Import Dataset

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

pizza_df = pd.read_excel('Data Model - Pizza Sales.xlsx')
pizza_df.head()

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

### Split into training and testing sets (30% for training)

In [11]:
train_df, test_df = train_test_split(pizza_df, test_size=0.7, random_state=42)

In [17]:
print(len(train_df)/len(pizza_df))
print(len(test_df)/len(pizza_df))

0.3
0.7

### Save to separate excel files

In [15]:
train_df.to_excel('pizza_training_data.xlsx')

In [16]:
test_df.to_excel('pizza_testing_data.xlsx')